.bill {
  text-align: center;

  .bill-content {
    margin-bottom: 10%;
  }
}

.vote-buttons {
  margin-left: 0px;
  text-align: center;
  list-style: none;

  li {
    display: inline;
    padding-right: 100px;
  }
}
